<html>
<style>
ul {
font-family: "Lucida Console",Monospace;
color: #005f73;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #83c5be;
}
body{
background-color: #bee1e6;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    color: #005f73;
    text-decoration: none;
}

li a:hover {
    background-color: #9ad9db;
}
</style>
<body>

<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/login">Sign in</a></li>
  <li><a href="/user.html">Sign up</a></li>
</ul>

</body>
</html>